@import "tailwindcss";
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/*
Source - https://stackoverflow.com/a
Posted by Richrd, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-16, License - CC BY-SA 4.0
*/


/*
Source - https://stackoverflow.com/a
Posted by Moesio, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-16, License - CC BY-SA 3.0
*/

html, 
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}


html {
  scrollbar-gutter: stable both-edges;
}


