@import "tailwindcss";

@keyframes pulse-slow {

  0%,
  100% {
    background-position: center;
    transform: scale(1);
  }

  50% {
    background-position: 20% 20%;
    transform: scale(1.05);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 6s ease-in-out infinite;
}